*{
    box-sizing: border-box;
    margin: auto;
}

body{
    font-family: "Amazon Ember",Arial,sans-serif;
    background: rgb(238, 241, 243)
}

.navbar-main{
    background: #0F1111;
    height: 80px;
    width: 100%;
    position: fixed;
}

.nav-main{
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.nav-top-left{
    display: flex;
    justify-content: space-evenly;
}

.deliver{
    display: flex;
    color: rgb(255, 255, 255);
    margin-right:0;
    font-size: 12px;
    max-height: 15px;
    padding-bottom: 35px;
}

.deliver-text{
    padding-left: 4px;
    font-weight: bold;
}

.deliver-to{
    color: rgba(255, 255, 255, 0.596);
}

.nav-logo{
    padding: 13px 17px 0 27px;
}

.amazon-logo{
    height: 35px;
}

.location-pin{
    height: 29px;
    padding-top: 10px;
}

.location{
    padding-right: 5%;
    width: 270px;
}

.search-bar{
    display: flex;
    width: 60%;
}
.search-icon{
    height: 20px;


}

.search-input{
    width: 100%;
    height: 40px;
    outline: 0;
    border: 0;
    padding: 10px;
    font-size: 16px;
}

.filterBtn{
    height: 40px;
    padding-left: 2%;
    padding-right: 2%;
    border: 0;
    outline: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: rgba(0, 0, 0, 0.582);
    
}

.searchBtn{
    background: rgb(252, 184, 60);
    outline: 0;
    border: 2px transparent;
    height: 40px;
    margin: auto 0;
    width: 50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.searchBtn:hover{
    background: orange;
    cursor: pointer;
}

.nav-right{
    display: flex;
    justify-content: space-evenly;
    font-size: 12px;
    padding-bottom: 10px;
    padding-left: 2%;
    padding-right: 2%;
}

.language{
    display: flex;
}

.language-flag{
    height: 18px;
}

.hello{
    max-height: 15px;
    min-width: 70px;
}

.lists{
    width: 110px;
    min-width: 110px
}

.lists, .orders{
    font-weight: bold;
}

.orders{
    width: 56px;
}

.cart, .account, .returns-orders, .language{
    padding-left: 50px;
    padding-top: 10px;
}

.cart-icon{
    color: white
}

.cart{
    font-size: 14px;
    width: 93px;
}

.cart-amount{
    color: orange;
    text-decoration: bold;
}

.second-navbar{
    display: flex;
    background: #232f3e;
    color: white;
    height: 35px; 
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.second-navbar-left{
    display: flex;

}



.second-navbar-middle{
    display: flex;
    justify-content: space-between;
}

.middle{
    padding-left: 15px;
    padding-right: 10px;
    font-size: 13px;
    font-weight: bold;
}

.middle:hover, .filter:hover, .medical:hover{
    border:1px solid white;
    padding: 8px;
    cursor: pointer;

}

.filter{
    padding-right: 25px;
    padding: 10px;
}

.navbar-right{
    font-weight: bold;
    font-size: 16px;
    padding: 4px;
    width: 300px
    
}

.navbar-right:hover{
    border:1px solid white;
    cursor: pointer;
    padding: 4px;
}

.medical span{
    font-size: 12px;;
}

.medical{
    padding-left: 8px;;
}

.body-section1{
    padding-right: 5%;
    padding-left: 5%;
    width: 1600px;
 
}


.body-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    padding-top: 95px;

}

.body-cards{
    height: 20vh;
    display: flex;
    margin-top: -19.5rem;
    padding-left: 15px;
    padding-right: 15px;
}

.card1, .card2, .card3, .card4{
    padding: 16px;
    padding-bottom: 30px;
    height:45vh;
    width: 23%;
    background: white;

}

.card4{
    height: 20vh;
    background: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

.sign-inBtn{
    background: rgb(255, 217, 0);
    border: 0;
    border-radius: 10px;
    width: 100%;
    height: 35px;

}

.sign-inBtn-div{
    width: 100%;
}

.card1 h3, .card2 h3, .card3 h3{
    padding-bottom: 10px;
}

.card1 p{
    font-size: 14px;
    padding-top: 15px;
    color: rgb(16, 112, 136);
}
.card1 img{
    height: 32vh;
    width: 32vh;
}


.card3 img{
    display: flex;
}

.card2-images{
    display:flex;
}

.images-card2{
    width:100%;
    padding-right: 10px;
}

.under-text{
    font-size: 12px;
    padding-bottom: 5px;
    color: rgba(85, 85, 85, 0.897);
}

.card3-text{
    display: flex;
    justify-content: left;
    padding-right: 120px;
    padding-top: 10px;
}

.red-background{
    background: red;
    padding: 6px;
    border-radius: 3px;
    color:white;
    font-size: 13px;
}

.deal{
    color: red;
    padding-right: 45px;
    font-size: 14px;
    font-weight: bold;
}

.card2-text{
    padding-top: 85px;

}

.card2-p{
    color: rgb(16, 112, 136);
    font-size: 14px;
}
